
@{
    ViewBag.Title = "getSomePartialView";
}

<h2>getSomePartialView</h2>

<h1>Students Name</h1>
<ul>
    <li>alekhya</li>
    <li>Amol</li>
    <li>Arpita</li>
    <li>chakradhar</li>
    <li>Deepti</li>
</ul>

@Html.Partial("_MyStudentsPartialView")