@model AdoDotnet.Models.EmployeeModel
@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to Delete Record?</h2>
<span>EmpId:</span>@Model.EmpId<br />
<span>EmpName:</span>@Model.EmpName<br />
<span>EmpSalary:</span>@Model.EmpSalary<br />

<form action="~/home/Delete/@Model.EmpId" method="post">
    <input type="submit" name="name" value="Delete" class="btn btn-danger" />
</form>