
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form  method="post" action="~/login/login">
    <label>UserName</label>
    <input type="text" name="UserName" value="" class="form-control"/><br />
    <label>Password</label>
    <input type="password" name="Password" value="" class="form-control" /><br />
    <input type="submit"  value="Login" class="btn btn-success" />
</form>